<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <div class="contact">
            <p>+254713642280</p>
        </div>
        <div class="descripton">
            <p>Home of Quality Brands!!</p>
        </div>

        <div class="authentications">
            <i class="fas fa-user-circle"></i>
            <a href="#">account/register</a>
        </div>
    </header>
</body>
</html>