<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luku-Shorts</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
     crossorigin="anonymous" />

     <!-- Bootstrap CDN -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
      crossorigin="anonymous">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="wrapper">
    <header>
        <div class="contact">
            <i class="fas fa-phone"></i>
            <p>+254713642280</p>
        </div>
        <div class="descripton">
            <p>Home of Quality Brands!!</p>
        </div>

        <div class="authentications">
            <i class="fas fa-user-circle"></i>
            <a href="#">account/register</a>
        </div>
    </header>

    <div class="search mt-5">
        <form action="" id="form">
            <input type="text" placeholder="Search Item...">
            <i class="fas fa-search"></i>
        </form>

        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>

    <div class="container-fluid">
      <nav class="navigation">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/about">About Us</a>
          </li>

          <li>
            <a href="/category">Category</a>
          </li>

          <li>
            <a href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- slider -->
    <div id="carousel-Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/jackets.webp" style="width: 20rem" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/female1.webp" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/shirts.webp" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- end of slider -->

    <!-- category grids -->
    <div id="category">
      <h3 class="text-center">Top Categories</h3>
      <div class="row mt-5">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/t-shirts.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">T-Shirts</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/female2.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Blouse</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/plain.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Plain Shirts</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/coat.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Trench Coats</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end category grids -->

    <!-- best sellers -->
    <div id="best-sellers">
      <h3 class="text-center">Best Sellers</h3>
      <div class="row mt-5">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/towels.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Soft Towels</h3>
              <div class="price">
                <p class="amount">$40</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/duvets.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Duvetts</h3>
              <div class="price">
                <p class="amount">$80</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/khaki.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Hard Khaki</h3>
              <div class="price">
                <p class="amount">$60</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/trench.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Official Coats</h3>
              <div class="price">
                <p class="amount">$50</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of best sellers -->

    <!-- best picks -->
    <div id="best-sellers">
      <h3 class="text-center">Men's footware</h3>
      <div class="row mt-5">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/leather.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Men's Leather</h3>
              <div class="price">
                <p class="amount">$140</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/coiled.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Benz Brands</h3>
              <div class="price">
                <p class="amount">$800</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/nikwshoe.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Reebok</h3>
              <div class="price">
                <p class="amount">$260</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/leather.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Men's Leather</h3>
              <div class="price">
                <p class="amount">$150</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end best picks -->

    <!-- best picks -->
    <div id="best-sellers">
      <h3 class="text-center">Women's footware</h3>
      <div class="row mt-5">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/hels.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Heels</h3>
              <div class="price">
                <p class="amount">$140</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/airmax.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Airmax</h3>
              <div class="price">
                <p class="amount">$800</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/rubbers.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Rubbers</h3>
              <div class="price">
                <p class="amount">$260</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/img/hooves.webp" alt="" class="card-img-top">
            <div class="card-body">
              <h3 class="card-title">Hooves</h3>
              <div class="price">
                <p class="amount">$150</p>
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end best picks -->

    <!-- brands -->
    <div id="brands">
      <h3 class="text-center mt-5">Favorite Brands</h3>
      <div class="row">
        <div class="col">
          <img src="/img/adidas.png" alt="">
          <img src="/img/ninetynine.png" alt="">
          <img src="/img/pamolo.png" alt="">
          <img src="/img/vercase.png" alt="">
          <img src="/img/nike.png" alt="">
          <img src="/img/polo.jpeg" alt="">
          <img src="/img/kings.png" alt="">
        </div>
      </div>
    </div>
    <!-- end of brands -->

    <!-- footer -->

    <footer id="footer" >
      <div id="resources">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Suggestions</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Return Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div id="social">
        <h3>Social</h3>
        <div id="facebook">
          <i class="fab fa-facebook-square"></i>
          <p>Facebook</p>
        </div>
        <div id="twitter">
          <i class="fab fa-twitter-square"></i>
          <p>Twitter</p>
        </div>
        <div id="instagram">
          <i class="fab fa-instagram-square"></i>
          <p>Instagram</p>
        </div>
      </div>
      <div id="most-popular">
        <h3>Most Popular</h3>
        <li><a href="#">Companion Animal Products</a></li>
        <li><a href="#">New Products</a></li>
        <li><a href="#">SALE Products</a></li>
        <li><a href="#">Cheese Alternatives</a></li>
        <li><a href="#">Meat Alternatives</a></li>
        <li><a href="#">Candy & Sweets</a></li>
        <li><a href="#">Gift Certificates</a></li>
        <li><a href="#">Personal Care</a></li>
      </div>
      <div id="newsletter">
        <h3>Newsletter</h3>
        <p>Join Our Good News Mailing List</p>
        <form action="" id="footer-form">
         <div id="email">
           <label for="email">Email Address</label>
           <input type="email" id="email-input">
         </div>
         <button type="submit">Subscribe</button>
        </form>
      </div>
    </footer>
    <!-- end of footer -->
   </div>

   <!-- BOOTSTRAP JS CDN -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>

   <!-- CUSTOM JS -->
   <script src="/js/main.js"></script>
</body>
</html>